@import url("https://use.typekit.net/khg7cxw.css");
/* <link rel="stylesheet" href="https://use.typekit.net/khg7cxw.css"> */

/* 
title
font-family: masqualero;
title 'och' samt brödtext
font-family: cormorant-garamond;
fettmarkerade saker för att markera sakera samt underrubriker
font-family: source-sans-3; */

@media screen and (max-width: 600px) {
  .bigSite {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .smallSite {
    display: none;
  }
}

.mainPage {
  text-align: center;
  font-family: masqualero;
  font-family: cormorant-garamond;
  font-family: source-sans-3;
  color: #a42a04;
}

.masqualero{
  font-family: masqualero;
font-family: masqualero, sans-serif;
font-weight: 900;
font-style: normal;
}

.cormorant {
  font-family: cormorant-garamond;
}

.sourceSans{
  font-family: source-sans-3;
}

.mainTitle{
  font-size: 50px;
  text-transform:uppercase;
  letter-spacing: 10px;
}

.titleWrapper {
  display: flex;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
