@import url('https://use.typekit.net/khg7cxw.css');
/* <link rel="stylesheet" href="https://use.typekit.net/khg7cxw.css"> */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
}

:root {
  --venitianRed: #900c3f;
  --background-color: #f6f1e3;
  --lightGrey: #ddd;
  --grey: #bbb;
  --primaryBlue: #0000ff;
}

/* 
title
font-family: masqualero;
title 'och' samt brödtext
font-family: cormorant-garamond;
fettmarkerade saker för att markera sakera samt underrubriker
font-family: source-sans-3; */

.masqualero {
  font-family: masqualero;
}

.cormorant {
  font-family: cormorant-garamond;
}

.sourceSans {
  font-family: source-sans-3;
}
